<div id="menu" class="ddsmoothmenu-v">	
	<ul id="nav">
    <li><a href="/edit/theme_color_assets">1 Theme Color & Assets</a></li>
    <li><a href="#">2 Settings</a>
      <ul>
      	<li><a href="/edit/font_size">2.1 Font Size</a></li>
      	<li><a href="/edit/highlight_color">2.2 Highlight Color</a></li>
      </ul>
    <li><a href="#">3 Windows</a>
      <ul>
	    <li><a href="/edit/main_window">3.1 Main Window</a></li>
	    <li><a href="/edit/bible_window">3.2 Bible Window</a></li>
	    <li><a href="/edit/response_window">3.3 Response Window</a></li>
	    <li><a href="/edit/tools_window">3.4 Tools Window</a></li>
	    <li><a href="/edit/about_window">3.5 About Window</a></li>
      </ul>
    </li>

    <li><a href="#">4 Book Info</a>
      <ul>
        <li><a href="/edit/general_info">4.1 General Info</a></li>
        <li><a href="/edit/toc">4.2 Table of Contents</a></li>
      </ul>
    </li>
    <li><a href="/edit/video_upload">5 Videos</a></li>
    <li><a href="/package">EXPORT</a></li>
	</ul>
	
</div>