<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Table of Contents</title>
<%- include partials/includes %>
<script>


var sections = {"1": 1};
var chapters = 1;
function addSection(chapter){
	var section = sections[chapter];
	var match = "attach_section_"+chapter;
	$('#'+match).append('<h4>Section '+chapter+'.'+section+'</h4><p></p></li><li id="li_1" ><label class="description" for="title_'+chapter+'.'+section+'">Title </label><div><input id="title_'+chapter+'.'+section+'" name="title_'+chapter+'.'+section+'" class="element text small" type="text" maxlength="255" value=""/>'+
	'</div><p class="guidelines" id="guide_2"><small>Title of the chapter</small></p></li><li id="li_2" ><label class="description" for="subtitle_'+chapter+'.'+section+'">Subtitle </label><div><input id="subtitle_'+chapter+'.'+section+'" name="subtitle_'+chapter+'.'+section+'" class="element text small" type="text" maxlength="255" value=""/>'+
	'</div><p class="guidelines" id="guide_2"><small>Subtitle of the chapter</small></p><li id="li_3" ><label class="description" for="page_'+chapter+'.'+section+'">Page </label><div><input id="page_'+chapter+'.'+section+'" name="page_'+chapter+'.'+section+'" class="element text small" type="text" maxlength="5" value=""/>'+
		'</div> <p class="guidelines" id="guide_3"><small>Page number of the chapter</small></p> ');
	sections[chapter]++;
}

function addChapter(){
	var match = "attach_chapter_"+chapters;
console.log(match);
	chapters++;
	var chapter = chapters;

	$('#'+match).after('<li id="ch_'+chapter+'" class="section_break"><h3>Chapter '+chapter+'</h3><p></p></li><li id="li_1" ><label class="description" for="title_'+chapter+'">Title </label><div><input id="title_'+chapter+'" name="title_'+chapter+'" class="element text small" type="text" maxlength="255" value=""/>'+
	 	'</div><p class="guidelines" id="guide_2"><small>Title of the chapter</small></p></li><li id="li_2" ><label class="description" for="subtitle_'+chapter+'">Subtitle </label><div><input id="subtitle_'+chapter+'" name="subtitle_'+chapter+'" class="element text small" type="text" maxlength="255" value=""/>'+
		'</div><p class="guidelines" id="guide_2"><small>Subtitle of the chapter</small></p><li id="li_3" ><label class="description" for="page_'+chapter+'">Page </label><div><input id="page_'+chapter+'" name="page_'+chapter+'" class="element text small" type="text" maxlength="5" value=""/>'+
		'</div> <p class="guidelines" id="guide_3"><small>Page number of the chapter</small></p></li><span id="attach_section_'+chapter+'"></span></li><button type="button" onclick="addSection('+chapter+')">Add Section</button><span id="attach_chapter_'+chapter+'"></span>');
	sections[chapter] = 1;
}
</script>
</head>
<body id="main_body">
<%- include partials/menu %>
	<img id="top" src="../images/top.png" alt="">
	<div id="form_container">
	
		<h1><a>Table of Contents/a></h1>
		<form id="form_661797" class="appnitro" enctype="multipart/form-data" method="post" action="/submit/<%= form %>">
					<div class="form_description">
			<h2>Table of Contents</h2>
			<p></p>
		</div>						
			<ul >
			
					<li id="ch_1" class="section_break">
			<h3>Chapter 1</h3>
			<p></p>
		</li>		<li id="li_1" >
		<label class="description" for="title_1">Title </label>
		<div>
			<input id="title_1" name="title_1" class="element text small" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_2"><small>Title of the chapter</small></p> 
		</li>		<li id="li_2" >
				<label class="description" for="subtitle_1">Subtitle </label>
		<div>
			<input id="subtitle_1" name="subtitle_1" class="element text small" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_2"><small>Subtitle of the chapter</small></p> 

		<li id="li_3" >
		<label class="description" for="page_1">Page </label>
		<div>
			<input id="page_1" name="page_1" class="element text small" type="text" maxlength="5" value=""/> 
		</div> <p class="guidelines" id="guide_3"><small>Page number of the chapter</small></p> 
		</li>
		
			
		<span id="attach_section_1"></span>
		</li>		
			<button type="button" onclick="addSection(1)">Add Section</button>
			
				<span id="attach_chapter_1"></span>			

			<button type="button" onclick="addChapter()">Add Chapter</button>	
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="661797" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
	</div>
	<img id="bottom" src="../images/bottom.png" alt="">
	</body>
</html>